html{
	height: 100%;
}
body {
   min-height: 100%;
   background: #31343F;
   transition: 1.0s all;
   /* border:0.3em solid grey; */
   margin: 0;

}
h1,h2,h3,p{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar-brand
{
    position: fixed;
    margin: auto;
    font-size: 2em;
}
b{
  font-size: 1.2em;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar-default .navbar-brand {
  color: white;
  font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
ul.nav a:hover { color: #A2EF9F !important; }

.navbar-default .navbar-header a:hover {
  color: #E14D3D;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  border-color: white;
}
p{
  font-size: 1.3em;
  line-height: 1.8em;
}

.changeColor1 {
   background: #434756;
}
.changeColor2 {
   background: #6f7690;
}
.changeColor3 {
   background: #9a9fb1;
}
.container1 {
  height: 100vh;
  padding-top:4em;
  text-align: center;
  font-size: 5vh;
}
.container2 {
  margin-top: 1.2em;
  /* height: 100vh; */
  padding-top:4em ;
  text-align: center;
}
.container3 {
  margin-top: 1.2em;
  /* height: 100vh; */
  padding-top:4em;
  text-align: center;
}
.container4 {
  margin-top: 1.2em;
  /* height: 100vh; */
  padding-top:4em;
  text-align: center;
}
.container5 {
  margin-top: 1.2em;
  /* height: 100vh; */
  padding-top:4em;
  text-align: center;
  padding-bottom: 50px;
}
.container3 h2{
	/* color: #A2EF9F; */
}
.container3 p{

}


.contact h1{
	color: white;

}
.contact p{
	color: white;
}

#aboutMe{
  padding: 3em 2em 2em 2em;
}
#skills{
  padding: 10em 2em 2em 2em;
}
#projects{
  padding: 3em 2em 2em 2em;
}
#contact{
  padding: 10em 2em 2em 2em;
}



#thisState{
  color: #E14D3D;
  display: inline;
}
#props{
  color: #9EA1B3;
  display: inline;
}
#assign{
  color: green;
}
* { color:#fff; text-decoration: none;}

footer{
  background-color: gray;
  border-top:0.1em solid black;
}


.footer-text{
  color: white;
  text-align: center;
}
.btn{
   position:relative;
   width: auto;
   display:inline-block;
   color:#ecf0f1;
   text-decoration:none;
   border-radius:5px;
   border:solid 1px #f39c12;
   background:#e67e22;
   text-align:center;
   padding:16px 18px 14px;
   margin: 12px;

   -webkit-transition: all 0.1s;
 	 -moz-transition: all 0.1s;
 	 transition: all 0.1s;

   -webkit-box-shadow: 0px 6px 0px #d35400;
   -moz-box-shadow: 0px 6px 0px #d35400;
   box-shadow: 0px 6px 0px #d35400;
 }

.btn:active{
     -webkit-box-shadow: 0px 2px 0px #d35400;
     -moz-box-shadow: 0px 2px 0px #d35400;
     box-shadow: 0px 2px 0px #d35400;
     position:relative;
     top:4px;
}
.btn2{

   position:relativea;
   width: 50%;
   display:inline-block;
   color:#ecf0f1;
   text-decoration:none;
   border-radius:5px;
   border:solid 1px skyblue;
   background:#53897D;
   text-align:center;
   padding:5px 16px 8px;
   margin: 12px;

   -webkit-transition: all 0.1s;
 	 -moz-transition: all 0.1s;
 	 transition: all 0.1s;

   -webkit-box-shadow: 0px 6px 0px #436E64;
   -moz-box-shadow: 0px 6px 0px #436E64;
   box-shadow: 0px 6px 0px #436E64;
}
.btn2:active{
     -webkit-box-shadow: 0px 2px 0px #436E64;
     -moz-box-shadow: 0px 2px 0px #436E64;
     box-shadow: 0px 2px 0px #436E64;
     position:relative;
     top:4px;
}

.btn-email{
  position:relative;
  width: 14em;
  display:inline-block;
  color:#ecf0f1;
  text-decoration:none;
  border-radius:5px;
  border:solid 1px #f39c12;
  background:#e67e22;
  text-align:center;
  padding:13px 15px 11px;
  margin: 2px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px #d35400;
  -moz-box-shadow: 0px 6px 0px #d35400;
  box-shadow: 0px 6px 0px #d35400;
}


/* minimal sm icons */
.socialbtns{
  text-align: center;
}

.socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
    text-align: center;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    color: #FFF;
    text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -webkit-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -moz-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -o-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
    color: #000;
    text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    -webkit-text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    -moz-text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    -o-text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    transition: all ease 0.5s;
    -moz-transition: all ease-in 0.5s;
    -webkit-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}


/* arrow animation from
https://l-lin.github.io/font-awesome-animation/ */
@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
  -webkit-animation: ring 1.7s ease infinite;
  animation: ring 1.7s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}
#container-arrow{
	position: absolute;
	bottom: 0;
	margin: auto;
	width: 100%;
}



.wrapper {

  margin-bottom: -100px;
}
.footer, .push {
  height: 100px;
}
