body {
   background: #31343F;
   transition: 1.0s all;
   border:0.3em solid grey;
}
h1,h2,h3,p{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar-brand
{
    position: fixed;
    margin: auto;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav>li>a {
  color: white;
}
ul.nav a:hover { color: #A2EF9F !important; }

.navbar-default .navbar-header a:hover {
  color: #E14D3D;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  border-color: white;
}
p{
  font-size: 1.5em;
  line-height: 1.8em;
}

.changeColor1 {
   background: #434756;
}
.changeColor2 {
   background: #6f7690;
}
.changeColor3 {
   background: #9a9fb1;
}
.container1 {
  height: 100vh;
  padding-top:4em;
  text-align: center;
  font-size: 5vh;
}
.container2 {
  margin-top: 1.2em;
  height: 100vh;
  padding-top:4em ;
  text-align: center;
}
.container3 {
  margin-top: 1.2em;
  height: 100vh;
  padding-top:4em;
  text-align: center;
}
.container4 {
  margin-top: 1.2em;
  height: 100vh;
  padding-top:4em;
  text-align: center;
}

#aboutMe{
  padding: 3em 2em 2em 2em;
}
#projects{
  padding: 3em 2em 2em 2em;
}
#contact{
  padding: 31em 2em 2em 2em;
}
#thisState{
  color: #E14D3D;
  display: inline;
}
#props{
  color: #9EA1B3;
  display: inline;
}
#assign{
  color: green;
}
* { color:#fff; text-decoration: none;}

footer{
  background-color: gray;
  border:0.1em solid black;
}

.footer-text{
  color: white;
}

/* minimal sm icons */
.socialbtns{
  text-align: center;
}

.socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    color: #FFF;
    text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -webkit-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -moz-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    -o-text-shadow: 1px 1px 0px #000,
            1px -1px 0px #000,
            -1px 1px 0px #000,
            -1px -1px 0px #000;
    transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    -webkit-transition: all ease-out 0.5s;
    -o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
    color: #000;
    text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    -webkit-text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    -moz-text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    -o-text-shadow: 1px 1px 0px #fff,
            1px -1px 0px #fff,
            -1px 1px 0px #fff,
            -1px -1px 0px #fff;
    transition: all ease 0.5s;
    -moz-transition: all ease-in 0.5s;
    -webkit-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
}
