@media screen and (max-width:500px){
  .container1 h1{
    font-size: 30px;
  }
  P{
    font-size: 18px;
  }
}


@media screen and (min-width:750px){
  .container2 {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
