@media screen and (max-width:500px){
  .container1 h1{
    font-size: 30px;
  }
  P{
    font-size: 18px;
  }
  .navbar-collapse {
    background: gray;
  }
  .navbar {
     background-color: #31343F;
     background: #31343F;
     border-color: #31343F;
  }
}


@media screen and (min-width:750px){
  .container2, .container3, .container4{
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
